@charset "utf-8";

:root {
    --color-main: #020001;
    --color-sub: #f2f5fe;

    --font-size-h2: 70px;
    --font-size-h3: 30px;
    --font-size-h4: 22px;
    --font-size-p: 16px;
    --font-size-p-800: 14px;
    --font-size-span: 20px;
    --font-size-header: 12px;
}

html {
    font-size: 1.56vw;
    scroll-behavior: smooth;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    background-color: var(--color-main);
    color: var(--color-sub);
    line-height: 1.8;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10%;
    /* background-color: #5c5c5c; */
}

@media (max-width: 800px) {
    .container {
        padding: 15%;
    }
}

/* ========================================
header  */

header {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    width: 100%;
    height: 50px;
    background-color: rgba(80, 74, 74, 0.4);
    border-radius: 25px;
    z-index: 100;
}

header nav {
    position: relative;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 25px;
}

header li {
    font-size: var(--font-size-header);
    font-weight: 600;
    color: var(--color-sub);
}

header .x-icon {
    width: 50px;
}

header .x-icon img {
    width: 100%;
}

header a {
    display: block;
    padding: 5px;
}

header .under-line {
    border-bottom: 1px solid var(--color-sub);
}

/* ========================================
contact_sec  */

.contact_sec {
    margin: 100px 0;
}

.contact_sec p {
    font-size: var(--font-size-p);
}

.contact_sec h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;
    color: var(--color-sub);
    text-align: center;
}

.contact_sec .contact_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.contact_sec .x-icon {
    width: 20%;
}

.contact_sec .center-text {
    text-align: center;
}

.contact_sec .order-template {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid var(--color-sub);
    margin: 30px 0 50px;
    padding: 50px;
    background-color: var(--color-main);
}

.contact_sec .order-template ul {
    border: 1px dotted var(--color-sub);
    border-left: none;
    border-right: none;
    padding: 10px;
}


.contact_sec h3 {
    font-size: var(--font-size-h3);
    font-weight: 600;
    text-align: center;
}

.contact_sec li {
    font-size: var(--font-size-p);
}

.contact_sec .order-flow_box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: var(--color-main);
}

.contact_sec .order-flow {
    position: relative;
    max-width: 600px;
    width: 100%;
    border: 2px solid var(--color-sub);
    padding: 30px 20px;
    background-color: var(--color-main);
}

.contact_sec .order-flow ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

.contact_sec .order-flow li {
    padding: 0 20px;
}

.contact_sec h4 {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-main);
    padding: 0 20px;
    font-size: var(--font-size-h4);
    white-space: nowrap;
}

.contact_sec h4 span {
    background: linear-gradient(transparent 50%, #ad5151 50%);
}

.contact_sec .order-flow_box p {
    text-align: center;
}

@media (max-width:800px) {
    .contact_sec {
        margin: 0;
    }

    .contact_sec .contact_content {
        margin-top: 0;
    }
}

/* ========================================
footer  */

footer {
    text-align: center;
    padding-bottom: 50px;
}

footer p {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-sub);
}